.gallery {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  min-width: max-content;
}

.image_folder {
  list-style: none;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.image_file {
  padding: 6px;
  display: flex;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 6px;
  cursor: pointer;
}

.image_file_title {
  margin: 0;
  display: flex;
  width: 100%;
  height: max-content;
  position: relative;
  top: 20px;
  transform: translateY(-50%);
}

.image_file_title_left {
  overflow: hidden;
  white-space: pre;
}

.image_file_title_right {
  overflow: hidden;
  white-space: pre;
}

.image_file_preview {
  width: 40px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.image_container img {
  height: 700px;
  width: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.image_container input {
  display: block;
  width: 100%;
  font-size: medium;
  border: none;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
